.frame-1000002219,
.frame-1000002219 * {
  box-sizing: border-box;
}

.frame-1000002219 {
  height: 457px;
  position: relative;
}

.component-49 {
  width: 1377px;
  height: 457px;
  /* position: absolute; */
  /* left: 50%; */
  /* translate: -50%; */
  top: 0px;
}

.frame-1000002174 {
  width: 1377px;
  /* height: 468px; */
  /* position: absolute; */
  left: 0px;
  top: 0px;
  overflow-x: auto;
}

.group-1000002155 {
  position: absolute;
  inset: 0;
}

.frame-1000002160 {
  border-radius: 20px 0px 20px 0px;
  width: 400px;
  height: 397px;
  position: absolute;
  left: 17px;
  top: 0px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1),
    0px 16px 16px 0px rgba(0, 0, 0, 0.09), 0px 37px 22px 0px rgba(0, 0, 0, 0.05),
    0px 65px 26px 0px rgba(0, 0, 0, 0.01), 0px 102px 29px 0px rgba(0, 0, 0, 0);
}

.group-1000002150 {
  position: absolute;
  inset: 0;
}

.rectangle-3919 {
  background: #f8f8f8;
  border-radius: 20px 0px 20px 0px;
  width: 400px;
  height: 397px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.frame-1000002098 {
  border-radius: 20px 0px 20px 0px;
  width: 360px;
  height: 218px;
  position: absolute;
  left: 20px;
  top: 20px;
  overflow: hidden;
}

.modern-workspace-with-computer-1 {
  border-radius: 20px 0px 20px 0px;
  width: 360px;
  height: 218px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  object-fit: cover;
}

.group-1000002031 {
  opacity: 0.05;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 175px;
  top: 104px;
  overflow: visible;
}

.make-real-time-data-driven-decisions-with-powerful-dashboards-and-predictive-analytics {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 5%;
  left: 5%;
  width: 90%;
  bottom: 5.04%;
  top: 76.07%;
  height: 18.89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sap-analytics-cloud {
  width: 242px;
  height: 34px;
  position: absolute;
  left: calc(50% - 180px);
  top: 258px;
}

.sap-analytics-cloud2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1000002161 {
  border-radius: 20px 0px 20px 0px;
  width: 400px;
  height: 397px;
  position: absolute;
  left: 457px;
  top: 0px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1),
    0px 16px 16px 0px rgba(0, 0, 0, 0.09), 0px 37px 22px 0px rgba(0, 0, 0, 0.05),
    0px 65px 26px 0px rgba(0, 0, 0, 0.01), 0px 102px 29px 0px rgba(0, 0, 0, 0);
}

.group-10000020312 {
  opacity: 0.05;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 175px;
  top: 104px;
  overflow: visible;
}

.technology-concept-with-futuristic-element-1 {
  border-radius: 20px 0px 20px 0px;
  width: 360px;
  height: 218px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  object-fit: cover;
}

.build-intuitive-role-based-and-responsive-interfaces-with-sap-fiori-to-boost-productivity-and-user-satisfaction {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 5%;
  left: 5%;
  width: 90%;
  bottom: 5.04%;
  top: 76.07%;
  height: 18.89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1000002162 {
  border-radius: 20px 0px 20px 0px;
  width: 400px;
  height: 397px;
  position: absolute;
  left: 897px;
  top: 0px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1),
    0px 16px 16px 0px rgba(0, 0, 0, 0.09), 0px 37px 22px 0px rgba(0, 0, 0, 0.05),
    0px 65px 26px 0px rgba(0, 0, 0, 0.01), 0px 102px 29px 0px rgba(0, 0, 0, 0);
}

.business-data-analysis-1 {
  border-radius: 20px 0px 20px 0px;
  width: 360px;
  height: 218px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  object-fit: cover;
}

.group-10000020313 {
  opacity: 0.05;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 175px;
  top: 104px;
  overflow: visible;
}

.leverage-cloud-agility-with-sap-s-bundled-offering-we-help-you-adopt-rise-with-sap-with-speed-flexibility-and-business-value {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 5%;
  left: 5%;
  width: 90%;
  bottom: 5.04%;
  top: 76.07%;
  height: 18.89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1000002163 {
  border-radius: 20px 0px 20px 0px;
  width: 400px;
  height: 397px;
  position: absolute;
  left: 1337px;
  top: 0px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1),
    0px 16px 16px 0px rgba(0, 0, 0, 0.09), 0px 37px 22px 0px rgba(0, 0, 0, 0.05),
    0px 65px 26px 0px rgba(0, 0, 0, 0.01), 0px 102px 29px 0px rgba(0, 0, 0, 0);
}

.enterprise-resource-planning-holographic-interface-1 {
  border-radius: 20px 0px 20px 0px;
  width: 360px;
  height: 218px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}

.group-10000020314 {
  opacity: 0.05;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 175px;
  top: 104px;
  overflow: visible;
}

.modernize-your-erp-with-greenfield-brownfield-or-bluefield-strategies-for-sap-s-4-hana {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 5%;
  left: 5%;
  width: 90%;
  bottom: 5.04%;
  top: 76.07%;
  height: 18.89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1000002164 {
  border-radius: 20px 0px 20px 0px;
  width: 400px;
  height: 397px;
  position: absolute;
  left: 1777px;
  top: 0px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.1),
    0px 16px 16px 0px rgba(0, 0, 0, 0.09), 0px 37px 22px 0px rgba(0, 0, 0, 0.05),
    0px 65px 26px 0px rgba(0, 0, 0, 0.01), 0px 102px 29px 0px rgba(0, 0, 0, 0);
}

.businessmen-sitting-desk-using-wireless-technology-generated-by-ai-1 {
  border-radius: 20px 0px 20px 0px;
  width: 360px;
  height: 218px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  object-fit: cover;
}

.group-10000020315 {
  opacity: 0.05;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 175px;
  top: 104px;
  overflow: visible;
}

.enhance-sap-functionality-through-custom-reports-forms-workflows-and-third-party-integrations {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 5%;
  left: 5%;
  width: 90%;
  bottom: 5.04%;
  top: 76.07%;
  height: 18.89%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sap-analytics-cloud3 {
  width: 315px;
  height: 34px;
  position: absolute;
  left: calc(50% - 180px);
  top: 258px;
}

.frame-1000002165 {
  width: 127px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 437px;
  align-items: center;
}

.group-1000002156 {
  position: absolute;
  inset: 0;
}

.rectangle-3926 {
  background: #ff8d23;
  border-radius: 10px;
  width: 100px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.rectangle-3927 {
  background: rgba(255, 141, 35, 0.5);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 107px;
  top: 0px;
}

.frame-1000002218,
.frame-1000002218 * {
  box-sizing: border-box;
}

.frame-1000002218 {
  height: 595px;
  position: relative;
}

.group-1000002128 {
  width: 399px;
  height: 98px;
  position: static;
}

.what-we-offer {
  color: #ff8d23;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 120.5px);
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-the-services {
  color: #005355;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 217.5px);
  top: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}