/* Figma Styles of your File */
:root {
  /* Colors */
  --wwwyashcom-alto: #d3d3d3;
  /* --wwwyashcom-amaranth: #ef384c; */
  --wwwyashcom-black: #000000;
  --wwwyashcom-black: #020202;
  --wwwyashcom-blue: #0729e9;
  --wwwyashcom-boulder: #7d7d7d;
  /* --wwwyashcom-cinnabar: #e23827; */
  --wwwyashcom-cod-gray: #121212;
  /* --wwwyashcom-crimson: #ee171c; */
  --wwwyashcom-curious-blue: #1a8ae1;
  --wwwyashcom-dove-gray: #707070;
  --wwwyashcom-driftwood: #a89044;
  --wwwyashcom-dusty-gray: #999999;
  --wwwyashcom-emperor: #525252;
  --wwwyashcom-emperor: #4f4f4f;
  --wwwyashcom-endeavour: #005ba1;
  --wwwyashcom-firefly: #0e3c34;
  --wwwyashcom-mercury: #e2e2e2;
  --wwwyashcom-mercury: #e1e0e0;
  --wwwyashcom-mercury: #e1e0e0;
  --wwwyashcom-midnight-blue: #012169;
  --wwwyashcom-mine-shaft: #333333;
  --wwwyashcom-mirage: #1b212d;
  /* --wwwyashcom-scarlet: #ee171c; */
  --wwwyashcom-silver: #c4c4c4;
  --wwwyashcom-silver: #cccccc;
  --wwwyashcom-shark: #212529;
  --wwwyashcom-shark: #212129;
  --wwwyashcom-silver-chalice: #9f9f9f;
  --wwwyashcom-silver-chalice: #a1a1a1;
  --wwwyashcom-thunder: #231f20;
  /* --wwwyashcom-thunderbird: #c42419; */
  /* --wwwyashcom-thunderbird: #bf1212; */
  --wwwyashcom-torea-bay: #0a4ba2;
  --wwwyashcom-white: #ffffff;
  --wwwyashcom-white-20: rgba(255, 255, 255, 0.2);
  --wwwyashcom-woodsmoke: #070708;

  /* Fonts */
  --wwwyashcom-semantic-button-font-family: Arial-Narrow, sans-serif;
  --wwwyashcom-semantic-button-font-size: 16px;
  --wwwyashcom-semantic-button-line-height: 24px;
  --wwwyashcom-semantic-button-font-weight: 400;
  --wwwyashcom-semantic-button-font-style: normal;
  --wwwyashcom-semantic-heading-1-font-family: Inter-Regular, sans-serif;
  --wwwyashcom-semantic-heading-1-font-size: 57.599998474121094px;
  --wwwyashcom-semantic-heading-1-line-height: 69.12px;
  --wwwyashcom-semantic-heading-1-font-weight: 400;
  --wwwyashcom-semantic-heading-1-font-style: normal;
  --wwwyashcom-semantic-heading-2-font-family: Inter-Regular, sans-serif;
  --wwwyashcom-semantic-heading-2-font-size: 57.599998474121094px;
  --wwwyashcom-semantic-heading-2-line-height: 69.12px;
  --wwwyashcom-semantic-heading-2-font-weight: 400;
  --wwwyashcom-semantic-heading-2-font-style: normal;
  --wwwyashcom-semantic-heading-2-upper-font-family: Inter-SemiBold, sans-serif;
  --wwwyashcom-semantic-heading-2-upper-font-size: 73.5999984741211px;
  --wwwyashcom-semantic-heading-2-upper-line-height: 88.32px;
  --wwwyashcom-semantic-heading-2-upper-font-weight: 600;
  --wwwyashcom-semantic-heading-2-upper-font-style: normal;
  --wwwyashcom-semantic-heading-3-font-family: Inter-Light, sans-serif;
  --wwwyashcom-semantic-heading-3-font-size: 38.400001525878906px;
  --wwwyashcom-semantic-heading-3-line-height: 38.4px;
  --wwwyashcom-semantic-heading-3-font-weight: 300;
  --wwwyashcom-semantic-heading-3-font-style: normal;
  --wwwyashcom-semantic-heading-3-font-family: Inter-Medium, sans-serif;
  --wwwyashcom-semantic-heading-3-font-size: 54.400001525878906px;
  --wwwyashcom-semantic-heading-3-line-height: 54.4px;
  --wwwyashcom-semantic-heading-3-font-weight: 500;
  --wwwyashcom-semantic-heading-3-font-style: normal;
  --wwwyashcom-semantic-heading-4-font-family: Inter-Regular, sans-serif;
  --wwwyashcom-semantic-heading-4-font-size: 16px;
  --wwwyashcom-semantic-heading-4-line-height: 24px;
  --wwwyashcom-semantic-heading-4-font-weight: 400;
  --wwwyashcom-semantic-heading-4-font-style: normal;
  --wwwyashcom-semantic-heading-4-font-family: Inter-Medium, sans-serif;
  --wwwyashcom-semantic-heading-4-font-size: 32px;
  --wwwyashcom-semantic-heading-4-line-height: 48px;
  --wwwyashcom-semantic-heading-4-font-weight: 500;
  --wwwyashcom-semantic-heading-4-font-style: normal;
  --wwwyashcom-semantic-heading-3-font-family: Inter-Light, sans-serif;
  --wwwyashcom-semantic-heading-3-font-size: 30px;
  --wwwyashcom-semantic-heading-3-line-height: 45px;
  --wwwyashcom-semantic-heading-3-font-weight: 300;
  --wwwyashcom-semantic-heading-3-font-style: normal;
  --wwwyashcom-semantic-heading-4-font-family: Inter-Light, sans-serif;
  --wwwyashcom-semantic-heading-4-font-size: 48px;
  --wwwyashcom-semantic-heading-4-line-height: 57.6px;
  --wwwyashcom-semantic-heading-4-font-weight: 300;
  --wwwyashcom-semantic-heading-4-font-style: normal;
  --wwwyashcom-semantic-heading-6-font-family: Inter-Light, sans-serif;
  --wwwyashcom-semantic-heading-6-font-size: 20.799999237060547px;
  --wwwyashcom-semantic-heading-6-line-height: 24.96px;
  --wwwyashcom-semantic-heading-6-font-weight: 300;
  --wwwyashcom-semantic-heading-6-font-style: normal;
  --wwwyashcom-semantic-superscript-font-family: Inter-Regular, sans-serif;
  --wwwyashcom-semantic-superscript-font-size: 10.800000190734863px;
  --wwwyashcom-semantic-superscript-line-height: 21.61px;
  --wwwyashcom-semantic-superscript-font-weight: 400;
  --wwwyashcom-semantic-superscript-font-style: normal;
  --wwwyashcom-arial-bold-title-font-family: Arial-Bold, sans-serif;
  --wwwyashcom-arial-bold-title-font-size: 22px;
  --wwwyashcom-arial-bold-title-line-height: 28px;
  --wwwyashcom-arial-bold-title-font-weight: 700;
  --wwwyashcom-arial-bold-title-font-style: normal;
  --wwwyashcom-arial-narrow-font-family: Arial-Narrow, sans-serif;
  --wwwyashcom-arial-narrow-font-size: 11px;
  --wwwyashcom-arial-narrow-line-height: 20px;
  --wwwyashcom-arial-narrow-font-weight: 400;
  --wwwyashcom-arial-narrow-font-style: normal;
  --wwwyashcom-arial-narrow-font-family: Arial-Narrow, sans-serif;
  --wwwyashcom-arial-narrow-font-size: 14px;
  --wwwyashcom-arial-narrow-line-height: 22.65px;
  --wwwyashcom-arial-narrow-font-weight: 400;
  --wwwyashcom-arial-narrow-font-style: normal;
  --wwwyashcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwyashcom-inter-medium-font-size: 14px;
  --wwwyashcom-inter-medium-line-height: 21px;
  --wwwyashcom-inter-medium-font-weight: 500;
  --wwwyashcom-inter-medium-font-style: normal;
  --wwwyashcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwyashcom-inter-medium-font-size: 24px;
  --wwwyashcom-inter-medium-line-height: 33.6px;
  --wwwyashcom-inter-medium-font-weight: 500;
  --wwwyashcom-inter-medium-font-style: normal;
  --wwwyashcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwyashcom-inter-medium-font-size: 25.600000381469727px;
  --wwwyashcom-inter-medium-line-height: 30.72px;
  --wwwyashcom-inter-medium-font-weight: 500;
  --wwwyashcom-inter-medium-font-style: normal;
  --wwwyashcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwyashcom-inter-regular-font-size: 10px;
  --wwwyashcom-inter-regular-line-height: 15px;
  --wwwyashcom-inter-regular-font-weight: 400;
  --wwwyashcom-inter-regular-font-style: normal;
  --wwwyashcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwyashcom-inter-regular-font-size: 12px;
  --wwwyashcom-inter-regular-line-height: 18px;
  --wwwyashcom-inter-regular-font-weight: 400;
  --wwwyashcom-inter-regular-font-style: normal;
  --wwwyashcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwyashcom-inter-regular-font-size: 14px;
  --wwwyashcom-inter-regular-line-height: 21px;
  --wwwyashcom-inter-regular-font-weight: 400;
  --wwwyashcom-inter-regular-font-style: normal;
  --wwwyashcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwyashcom-inter-regular-font-size: 14.399999618530273px;
  --wwwyashcom-inter-regular-line-height: 21.6px;
  --wwwyashcom-inter-regular-font-weight: 400;
  --wwwyashcom-inter-regular-font-style: normal;
  --wwwyashcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwyashcom-inter-regular-font-size: 14.399999618530273px;
  --wwwyashcom-inter-regular-line-height: normal;
  --wwwyashcom-inter-regular-font-weight: 400;
  --wwwyashcom-inter-regular-font-style: normal;
  --wwwyashcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwyashcom-inter-regular-font-size: 14.399999618530273px;
  --wwwyashcom-inter-regular-line-height: 21.6px;
  --wwwyashcom-inter-regular-font-weight: 400;
  --wwwyashcom-inter-regular-font-style: normal;
  --wwwyashcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwyashcom-inter-regular-font-size: 16px;
  --wwwyashcom-inter-regular-line-height: 24px;
  --wwwyashcom-inter-regular-font-weight: 400;
  --wwwyashcom-inter-regular-font-style: normal;
  --wwwyashcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --wwwyashcom-inter-regular-font-size: 20.799999237060547px;
  --wwwyashcom-inter-regular-line-height: 37.44px;
  --wwwyashcom-inter-regular-font-weight: 400;
  --wwwyashcom-inter-regular-font-style: normal;
  --wwwyashcom-inter-regular-upper-font-family: Inter-Regular, sans-serif;
  --wwwyashcom-inter-regular-upper-font-size: 16px;
  --wwwyashcom-inter-regular-upper-line-height: 24px;
  --wwwyashcom-inter-regular-upper-font-weight: 400;
  --wwwyashcom-inter-regular-upper-font-style: normal;
  --wwwyashcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwyashcom-inter-semi-bold-font-size: 16px;
  --wwwyashcom-inter-semi-bold-line-height: 24px;
  --wwwyashcom-inter-semi-bold-font-weight: 600;
  --wwwyashcom-inter-semi-bold-font-style: normal;
  --wwwyashcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --wwwyashcom-inter-semi-bold-font-size: 22.399999618530273px;
  --wwwyashcom-inter-semi-bold-line-height: 26.88px;
  --wwwyashcom-inter-semi-bold-font-weight: 600;
  --wwwyashcom-inter-semi-bold-font-style: normal;
  --wwwyashcom-inter-light-font-family: Inter-Light, sans-serif;
  --wwwyashcom-inter-light-font-size: 14.399999618530273px;
  --wwwyashcom-inter-light-line-height: 21.6px;
  --wwwyashcom-inter-light-font-weight: 300;
  --wwwyashcom-inter-light-font-style: normal;
  --wwwyashcom-inter-light-font-family: Inter-Light, sans-serif;
  --wwwyashcom-inter-light-font-size: 16px;
  --wwwyashcom-inter-light-line-height: 24px;
  --wwwyashcom-inter-light-font-weight: 300;
  --wwwyashcom-inter-light-font-style: normal;
  --wwwyashcom-inter-light-font-family: Inter-Light, sans-serif;
  --wwwyashcom-inter-light-font-size: 16px;
  --wwwyashcom-inter-light-line-height: 24px;
  --wwwyashcom-inter-light-font-weight: 300;
  --wwwyashcom-inter-light-font-style: normal;
  --wwwyashcom-inter-medium-font-family: Inter-Medium, sans-serif;
  --wwwyashcom-inter-medium-font-size: 12.800000190734863px;
  --wwwyashcom-inter-medium-line-height: normal;
  --wwwyashcom-inter-medium-font-weight: 500;
  --wwwyashcom-inter-medium-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
[data-wwwyashcom-mode="mode-1"] {
  /* mode-1 */
  --color-grey-20: #333333;
  /* --color-red-58: #ef384c; */
  --color-black-solid: #000000;
  --color-white-solid: #ffffff;
  --color-grey-1: #020202;
  --color-yellow-46: #a89044;
  /* --color-red-52: #e23827; */
  --color-azure-32: #005ba1;
  --color-grey-13: #231f20;
  --color-azure-49: #1a8ae1;
  /* --color-red-51: #ee171c; */
  --color-grey-83: #d3d3d3;
  --color-grey-32: #525252;
  --color-grey-49: #7d7d7d;
  --color-azure-15: #212529;
  --color-grey-89: #e2e2e2;
  --color-grey-62: #9f9f9f;
  --color-rose-43-0: rgba(152, 69, 128, 0);
  --color-rose-43-45: rgba(152, 69, 128, 0.45);
  --color-blue-13-90: rgba(0, 1, 65, 0.9);
  --color-grey-63: #a1a1a1;
  --color-grey-88: #e1e0e0;
  --color-black-0: rgba(0, 0, 0, 0);
  --color-black-85: rgba(0, 0, 0, 0.85);
  --color-grey-77: #c4c4c4;
  --color-grey-80: #cccccc;
  --color-azure-34: #0a4ba2;
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-azure-21: #012169;
  --color-magenta-40-10: rgba(194, 12, 166, 0.1);
  --color-violet-37-9: rgba(114, 12, 179, 0.09);
  --color-blue-40-5: rgba(27, 12, 194, 0.05);
  --color-magenta-40-11: rgba(194, 12, 166, 0.11);
  --color-violet-37-12: rgba(114, 12, 179, 0.12);
  --color-blue-40-10: rgba(27, 12, 194, 0.1);
  --color-cyan-15: #0e3c34;
  --color-azure-14: #1b212d;
  --color-rose-81-18: rgba(238, 174, 202, 0.18);
  --color-azure-75-263: rgba(148, 187, 233, 0.26);
  --color-grey-44: #707070;
  --color-grey-60: #999999;
  --color-blue-15: #212129;
  --color-blue-47: #0729e9;
  /* --color-red-43: #c42419; */
  /* --color-red-41: #bf1212; */
  --color-grey-7: #121212;
}
